html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: 0;
  background:#f8f8f8;
}

.container-fluid,.row{
  min-height: 100%;
  height: 100%;
}

.navbar-default {
    background:#f8f8f8;
    color: #337ab7;
}

.side-board {
    
    padding-right: 0;
    padding-left: 0;
    
}

.main-board{
    min-height: 100%;
    height: 100%;
    background:#ffffff;
}

.navbar-static-top {
  margin-bottom:0px;
}

i {
  font-size:14px;
}
.side-board-list > li{
    border-bottom: 1px solid #e7e7e7;
}
.nav > li > a {
  color:#337ab7;
}
.side-board-item > li{
    border-top: 1px solid #e7e7e7;
    margin-top: 0px;
}
.side-board-item > li > a{
    color:#00A388;
}


.app-top{
    margin-top: 20px;
}

footer {
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

